---
  # Style-Sheet
---

/* FONTS */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('syntax-highlighting.css');

:root {

  --main-color: black;
  --bg-color: #E6E6E6;

  --text-color: black;
  --pop-color: black;
  --alt-color: #5D7E90;
  --light-alt-color: #505B61; 

}

/* BASE */
body { background-color: var(--bg-color); color: var(--main-color); font-family: "Crimson Text", serif; margin: 0 auto; width: 90%; max-width: 700px; line-height: 1.4em; font-size: 1.1em; }
h1, h2, h3, h4, h5, h6 {  margin: 0px;  margin-top: 22px;  font-weight: bold;  color: var(--pop-color); }
p, ul, ol { font-size: 1em;  color: var(--text-color); }
a { text-decoration: underline;  color: var(--alt-color); }
a:hover { color: var(--bg-color); background-color: var(--alt-color); }
.primary-text { color: var(--main-color); }
@media only screen and (max-device-width: 500px) { * { font-size: 12px !important; } }
b, strong { color: var(--main-color); }
.invert { color: var(--bg-color); background-color: var(--main-color); padding-left: 3px; padding-right: 3px; padding-top: 1px; padding-bottom: 1px; }

/* SMALL FONT OVERRIDE */
body.large { line-height: 0.7em; font-size: 1em; }

/* LAYOUT */
.container { margin-right: auto;  margin-left: auto; }
p { word-wrap: break-word;  word-break: break-word;  white-space: pre-wrap; }
footer { color: var(--text-color);  margin: 20px auto 15px;  padding-top: 10px;  text-align: right; }
header { margin-top: 25px;  margin-bottom: 10px; }
header p { text-align: left;  margin: 0; }
footer { margin-bottom: 20px; }
img.home_header { width: 100%; margin-top: 5%; margin-bottom: 5%; }
img.detail_header { width: 100%; }

/* LISTS */
:not(.menu) > ul { list-style: none; padding-left: 1em; }
ul :not(.menu) > ul { list-style: none; padding-left: 3em; margin-top: 0.5em; margin-bottom: 0.7em; }
:not(.menu) > ul { list-style-type: none; }
:not(.menu) > ul > li:before { content: "-";  margin-right: 9px; }
ul :not(.menu) > ul > li:before { content: "*";  margin-right: 9px; }

/* NAVIGATION */
.menu { border-top: solid 1px var(--main-color);  border-bottom: solid 1px var(--main-color);  margin-bottom: 25px; }
.menu ul { margin-top: 12px;  margin-bottom: 12px;  padding-left: 0px;  list-style-type: none;  text-align: right; }
.menu ul li { display: inline;  margin-left: 10px; }
.menu ul li a { text-decoration: none;  color: var(--text-color); }
.menu ul li a:hover { text-decoration: none; color: var(--bg-color); background-color: var(--main-color); }
.menu ul li.page_title { text-align: left; margin-left: 10px; float: left; font-weight: bold; color: var(--main-color) }


/* ERROR PAGES */

div.error_box { margin: 100px; text-align: center; }
div.error_box h1 { font-size: 2em; }

/* SMALL TWEAKS */

*::selection { background-color: var(--light-alt-color); color: black; }

.img_link:hover {background-color: var(--bg-color)}

/* COMIC */

.comic {font-family:"Nanum Pen Script"; font-size: 1.5em;}
